---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

    {% include "components/_header.html" %}
    <main>
      {% include "components/_first-screen.html" %}
      {% include "components/_services.html" %}
      {% include "components/_price.html" %}
      {% include "components/_img-slider.html" %}
      {% include "components/_benefits.html" %}
      {% include "components/_contacts.html" %}
      {% include "components/_faq.html" %}
      {% include "components/_instruments.html" %}
      {% include "components/_info.html" %}
      {% include "components/_popular.html" %}
      {% include "components/_about.html" %}
    </main>
    {% include "components/_footer.html" %}
    {% include "components/_modal.html" %}
{% endblock %}
