<section class="about">
  <div class="container">
    <h2 class="title">
      Ваш мастер химчистки
    </h2>
    <div class="about__inner-wrapper">
      <div class="about__img">
        <img src="img/about-img.png" alt="">
      </div>
      <div class="about__info">
        <h3>
          Алексей Н.- 32 года.
        </h3>
        <p>
          Для меня, каждый раз чистка мебели -захватывающая задача. И я делаю все возможное что бы мебель снова засияла чистотой, потому что это радует не только моих клиентов, но и меня.
        </p>
        <button class="button modal_open">
          Оставить заявку
        </button>
      </div>
    </div>
  </div>
</section>
