<section class="benefits" id="benefits">
  <div class="container">
    <h2 class="title">
      Преимущества
    </h2>
    <div class="benefits__inner-wrapper">
      <div class="benefits__item">
        <img src="img/ben-1.svg">
        <h3>
          Сухая мебель после чистки, пользоваться можно сразу
        </h3>
      </div>
      <div class="benefits__item">
        <img src="img/ben-2.svg">
        <h3>
          Фиксация стоимости чистки навсегда
        </h3>
      </div>
      <div class="benefits__item">
        <img src="img/ben-3.svg">
        <h3>
          Скидка 20% на повторную чистку в течении года
        </h3>
      </div>
      <div class="benefits__item">
        <img src="img/ben-4.svg">
        <h3>
          Опыт 10 лет
        </h3>
      </div>
      <div class="benefits__item">
        <img src="img/ben-5.svg">
        <h3>
          Отсутствие запахов в процессе чистки
        </h3>
      </div>
    </div>
  </div>
</section>
