<section class="contacts" id="contacts" style="background-image: url('../img/contacts-bg.png')">
  <div class="container">
    <h2 class="title title--left title--white">
      Контакты
    </h2>
    <ul>
      <li>
        <a href="#"  class="button button--contact button--vk">
          ВКонтакте
        </a>
      </li>
      <li>
        <a href="#"  class="button button--contact button--viber">
          Viber
        </a>
      </li>
      <li>
        <a href="#" class="button button--contact button--watsapp">
          WhatsApp
        </a>
      </li>
      <li>
        <a href="#" class="button button--contact button--instagram">
          Instagram
        </a>
      </li>
      <li>
        <a href="#" class="button button--contact button--call">
          Позвонить Леше!
        </a>
      </li>
    </ul>
  </div>
</section>
