<section class="faq" id="faq">
  <div class="container">
    <h2 class="title">
      Ответы на вопросы
    </h2>
    <div class="faq__list">
      <div class="faq__item">
        <div class="faq__question">
          Как быстро Вы сможете приехать?
        </div>
        <div class="faq__answer">
          Обычно все заказы расписаны на неделю вперед, но и не редко у нас появляются «окна» из за переносов чисток, поэтому звоните. Возможно Вам повезет.
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__question">
          Как долго проводятся работы по чистке дивана?
        </div>
        <div class="faq__answer">
          Обычно все заказы расписаны на неделю вперед, но и не редко у нас появляются «окна» из за переносов чисток, поэтому звоните. Возможно Вам повезет.
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__question">
          Как долго сохнет мебель после работ по чистке?
        </div>
        <div class="faq__answer">
          Обычно все заказы расписаны на неделю вперед, но и не редко у нас появляются «окна» из за переносов чисток, поэтому звоните. Возможно Вам повезет.
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__question">
          Вы даете 100% гарантию на удаление всех пятен?
        </div>
        <div class="faq__answer">
          Обычно все заказы расписаны на неделю вперед, но и не редко у нас появляются «окна» из за переносов чисток, поэтому звоните. Возможно Вам повезет.
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__question">
          А это безопасно для детей?
        </div>
        <div class="faq__answer">
          Обычно все заказы расписаны на неделю вперед, но и не редко у нас появляются «окна» из за переносов чисток, поэтому звоните. Возможно Вам повезет.
        </div>
      </div>
    </div>
  </div>
</section>
