<section class="first-screen" style="background-image: url('img/first-screen-bg.png')">
  <div class="container">
    <div class="first-screen__inner-wrapper">
      <div class="first-screen__inner-wrapper">
        <h1>
          Профессиональная чистка мягкой мебели
        </h1>
        <p>
          Мы не только чистим, но и сушим Вашу мебель - для того что бы Вы смогли пользоваться ей сразу.
        </p>
        <button class="button modal_open">
          Оставить заявку
        </button>
        <a href="#services" class="first-screen__scroll-down">
          <img src="img/scroll-down.svg" alt="Скролить в низ">
        </a>
      </div>
    </div>
  </div>
</section>
