<footer class="footer">
  <div class="container">
    <div class="footer__inner-wrapper">
      <a href="#" class="footer__logo">
        <img src="img/logo-white.svg" alt="Логитип">
      </a>
      <ul class="footer__social">
        <li>
          <a href="#">
            <img src="img/vk.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/viber.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/whatsapp.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/instagram.svg" alt="">
          </a>
        </li>
      </ul>
      <div class="header__callback footer__callback">
        <a href="tel:+79111775457" class="header__tel">+7 (911) 177-54-57 </a>
        <button class="header__modal modal_open">заказать звонок</button>
      </div>
    </div>
  </div>
</footer>
