<header class="header">
  <div class="container">
    <div class="header__inner-wrapper">
      <div class="header__burger">
        <a href="index.html" class="header__logo">
          <img src="img/logo.svg" alt="">
        </a>
        <button class="header__burger-btn">
          <div class="header__burger-bar"></div>
        </button>
      </div>
      <div class="header__menu">
        <nav class="header__nav">
          <ul>
            <li>
              <a href="#services" data-attr="Услуги">
                Услуги
              </a>
            </li>
            <li class="header__link--hidden">
              <a href="#price" data-attr="Стоимость услуг">
                Стоимость услуг
              </a>
            </li>
            <li>
              <a href="#img-slider" data-attr="Примеры">
                Примеры
              </a>
            </li>
            <li>
              <a href="#benefits" data-attr="Преймущества">
                Преймущества
              </a>
            </li>
            <li class="header__link--hidden">
              <a href="#contacts" data-attr="Контакты" >
                Контакты
              </a>
            </li>
            <li>
              <a href="#faq" data-attr="Ответы на вопросы">
                Ответы на вопросы
              </a>
            </li>
            <li class="header__link--hidden">
              <a href="#instruments" data-attr="Профессиональные шампуни" >
                Профессиональные шампуни
              </a>
            </li>
            <li class="header__link--hidden">
              <a href="#info" data-attr="Информация" >
                Информация
              </a>
            </li>
            <li class="header__link--hidden">
              <a href="#popular" data-attr="Популярные позиции" >
                Популярные позиции
              </a>
            </li>
          </ul>
        </nav>
        <div class="header__callback">
          <a href="tel:+79111775457" class="header__tel">+7 (911) 177-54-57 </a>
          <button class="header__modal modal_open">заказать звонок</button>
        </div>
      </div>
    </div>
  </div>
</header>
