<section class="img-slider" id="img-slider">
  <div class="container">
    <h2 class="title">
      Вот что вы можете ожидать от нас
    </h2>
  </div>
  <div class="img-slider-swiper swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-1.png">
          <img src="img/img-slider-1.png" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-2.png">
          <img src="img/img-slider-2.png" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-3.png">
          <img src="img/img-slider-3.png" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-4.png">
          <img src="img/img-slider-4.png" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-5.png">
          <img src="img/img-slider-5.png" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-6.png">
          <img src="img/img-slider-6.png" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-7.png">
          <img src="img/img-slider-7.png" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-8.png">
          <img src="img/img-slider-8.png" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-9.png">
          <img src="img/img-slider-9.png" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-10.png">
          <img src="img/img-slider-10.png" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-1.png">
          <img src="img/img-slider-1.png" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="img/img-slider-2.png">
          <img src="img/img-slider-2.png" alt="">
        </a>
      </div>
    </div>
    <button class="img-slider__button-next"></button>
    <button class="img-slider__button-prev"></button>
  </div>
  <div class="img-slider__pagination"></div>
</section>
