<div class="info" id="info" style="background-image: url('img/info-bg.png')">
  <div class="container">
    <div class="info__inner-wrapper">
      <div class="info__item">
        <h3>
          530
        </h3>
        <p>
          диванов в 2019 году
        </p>
      </div>
      <div class="info__item">
        <h3>
          5
        </h3>
        <p>
          мастеров
        </p>
      </div>
      <div class="info__item">
        <h3>
          7 100 <span>м <sup>2</sup> </span>
        </h3>
        <p>
          ковровых покрытий
        </p>
      </div>
      <div class="info__item">
        <h3>
          2 800 <span>руб.</span>
        </h3>
        <p>
          средний чек
        </p>
      </div>
    </div>
  </div>
</div>
