<section class="instruments" id="instruments">
  <div class="container">
    <h2 class="title">
      Профессиональные шампуни
    </h2>
    <h3 class="subtitle">
      для глубокой очистки, пятновыведеня, шампунирования ковровых покрытий, текстиля и мягкой мебели.
    </h3>
    <div class="instruments__inner-wrapper">
      <div class="instruments__item">
        <div class="instruments__img">
          <img src="img/instr-1.png">
        </div>
        <p>
          Натуральный растворимый гелевый пятновыводитель.
        </p>
      </div>
      <div class="instruments__item">
        <div class="instruments__img">
          <img src="img/instr-2.png">
        </div>
        <p>
          Порошковый пре-спрей для предварительной обработки пятен методом опрыскивания.
        </p>
      </div>
      <div class="instruments__item">
        <div class="instruments__img">
          <img src="img/instr-3.png">
        </div>
        <p>
          Эффективное концентрированное средство для удаления запахов.
        </p>
      </div>
      <div class="instruments__item">
        <div class="instruments__img">
          <img src="img/instr-4.png">
        </div>
        <p>
          Средство для безопасной и эффективной чистки и отделки обивки из гладкой окрашенной кожи.
        </p>
      </div>
    </div>
  </div>
</section>
