<div class="modal" id="modal">
  <button class="modal_close modal__close"></button>
  <h2>
    Заказать дзвонок
  </h2>
  <form class="modal__form form">
    <div class="modal__input">
      <input type="text" name="name" placeholder="Ваше имя" required  >
    </div>
    <div class="modal__input">
      <input type="tel" name="tel" placeholder="Ваш телефон" required  >
    </div>
    <button class="button button--modal">
      Заказать дзвонок
    </button>
  </form>
</div>
<div class="modal" id="thanks">
  <button class="thanks_close modal__close"></button>
  <h2>
    Спасибо за заявку
  </h2>
  <p>
    Мы передзвоним вам в ближайшее время
  </p>
</div>
