<section class="popular" id="popular">
  <div class="container">
    <h2 class="title">
      Популярные позиции
    </h2>
    <div class="popular__inner-wrapper">
      <div class="popular__item">
        <img src="img/popular-1.png" alt="">
        <h3>
          Двухместный <br> диван
        </h3>
        <p>
          2 000 руб.
        </p>
      </div>
      <div class="popular__item">
        <img src="img/popular-2.png" alt="">
        <h3>
          Трехместный <br> диван
        </h3>
        <p>
          2 500 руб.
        </p>
      </div>
      <div class="popular__item">
        <img src="img/popular-3.png" alt="">
        <h3>
          Мягкое <br> кресло
        </h3>
        <p>
          800 руб.
        </p>
      </div>
      <div class="popular__item">
        <img src="img/popular-4.png" alt="">
        <h3>
          Угловой <br> диван
        </h3>
        <p>
          3 000 руб.
        </p>
      </div>
      <div class="popular__item">
        <img src="img/popular-5.png" alt="">
        <h3>
          Матрас <br> (одна сторона)
        </h3>
        <p>
          1 200 руб.
        </p>
      </div>
      <div class="popular__item">
        <img src="img/popular-6.png" alt="">
        <h3>
          Табуретка
        </h3>
        <p>
          100 руб.
        </p>
      </div>
      <div class="popular__item">
        <img src="img/popular-7.png" alt="">
        <h3>
          Мягкое <br> кресло
        </h3>
        <p>
          150 руб.
        </p>
      </div>
      <div class="popular__item">
        <img src="img/popular-8.png" alt="">
        <h3>
          Офисное <br> кресло
        </h3>
        <p>
          200 руб.
        </p>
      </div>
    </div>
  </div>
</section>
