<section class="price" id="price">
  <div class="container">
    <h2 class="title">
      Стоимость услуг
    </h2>
    <ul class="price__info">
      <li>
        Химчистка трехместного дивана от 2500 до 7000 руб. <span>(в зависимости от ткани, состояния материала и удаленности)</span>
      </li>
      <li>
        Химчистка двухместного дивана от 2000 до 5000 руб. <span>(в зависимости от ткани, состояния материала и удаленности)</span>
      </li>
      <li>
        Химчистка мягкого кресла от 800 до 3000 руб. <span>(в зависимости от ткани, состояния материала и удаленности)</span>
      </li>
      <li>
        Химчистка офисного кресла от 200 до 1500 руб. <span>(в зависимости от ткани, состояния материала и удаленности)</span>
      </li>
      <li>
        Химчистка табуретки от 100 до 1000 руб. <span>(в зависимости от ткани, состояния материала и удаленности)</span>
      </li>
      <li>
        Химчистка матраса 2х спального 1 сторона от 1200 до 4000 руб. <span>(в зависимости от ткани, состояния материала и удаленности)</span>
      </li>
    </ul>
    <ul class="price__warning">
      <li>
        Удаление застарелых\сложных пятен (кровь, моча, кофе) + 20 % к стоимости заказа
      </li>
      <li>
        Удаление запаха кошачей мочи +100 % к стоимости заказа
      </li>
      <li class="price--free">
        Сушка бесплатно!
      </li>
    </ul>
  </div>
</section>
