<section class="services" id="services">
  <div class="container">
    <div class="services-swiper__wrapper">
      <h2 class="title title--left">
        Услуги
      </h2>
      <div class="services-swiper__nav">
        <button class="services-swiper__button-prev">
          {{mixins.icon('arrow')}}
        </button>
        <button class="services-swiper__button-next">
          {{mixins.icon('arrow')}}
        </button>
      </div>
    </div>
    <div class="services-swiper swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="services-swiper__img-wrapper">
            <img src="img/serv-1.svg" alt="">
          </div>
          <h3>
            Трехместный <br> диван
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="services-swiper__img-wrapper">
            <img src="img/serv-2.svg" alt="">
          </div>
          <h3>
            Двухместный <br> диван
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="services-swiper__img-wrapper">
            <img src="img/serv-3.svg" alt="">
          </div>
          <h3>
            Мягкое <br> кресло
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="services-swiper__img-wrapper">
            <img src="img/serv-4.svg" alt="">
          </div>
          <h3>
            Офисное <br> кресло
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="services-swiper__img-wrapper">
            <img src="img/serv-5.svg" alt="">
          </div>
          <h3>
            Матрас
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="services-swiper__img-wrapper">
            <img src="img/serv-6.svg" alt="">
          </div>
          <h3>
            Ковролин на дому
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="services-swiper__img-wrapper">
            <img src="img/serv-7.svg" alt="">
          </div>
          <h3>
            Ковер в цеху
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="services-swiper__img-wrapper">
            <img src="img/serv-8.svg" alt="">
          </div>
          <h3>
            Ковролин в офисе
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="services-swiper__img-wrapper">
            <img src="img/serv-9.svg" alt="">
          </div>
          <h3>
            Салон автомобиля
            <span>
              (теплый сезон)
            </span>
          </h3>
        </div>

      </div>
    </div>
    <div class="services-swiper__wrapper services-swiper__wrapper--warning">
      <h4 class="services__warning">
        Минимальный заказ – 2500 рублей
      </h4>
      <div class="services-swiper__pagination"></div>
    </div>
    <div class="services__wrapper">
      <div class="services__info">
        <p>
          Нам очень важны качество, безопасность и Ваше доверие, потому что именно эти критерии являются основными при выборе партнера. Наши опытные и обученные сотрудники проводят очистку непосредственно у вас на месте. Вам не нужно беспокоиться ни о чем.
        </p>
        <p>
          Доверьтесь нашей уникальной 4х-ступенчатой системе очистки мягкой мебели:
        </p>
        <ul>
          <li>
            Предварительная обработка пятен
          </li>
          <li>
            Глубокая чистка обивки
          </li>
          <li>
            Промывка
          </li>
          <li>
            Сушка
          </li>
        </ul>
      </div>
     <div class="services__info">
       <p>
         Сколько стоит чистка дивана или матраса? Мы предлагаем прозрачные цены, которые соответствуют вашему объекту очистки и фиксируем их на этапе заказа, что предотвратит появление дополнительных расходов. А так же гарантируем, что стоимость чистки, указанная нами при заказе, не изменится ни на копейку в сторону увеличения.
       </p>
     </div>
    </div>

  </div>
</section>
